## gitignore file from https://github.com/github/gitignore/blob/master/Laravel.gitignore ##

vendor/
node_modules/
npm-debug.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot
storage/*.key
.env.*.php
.env.php
.env
Homestead.yaml
Homestead.json

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/

# Project-specific
.DS_Store
database/.dbdata/
database/wiki_dev.sqlite*
docker\ command\ reference.txt

#/node_modules
#/public/hot
#/public/storage
#/storage/*.key
#/vendor
#/.idea
#/.vagrant
#/database/.dbdata/*
#Homestead.json
#Homestead.yaml
#npm-debug.log
#.env
#docker\ command\ reference.txt
#.DS_Store