## gitignore file from https://github.com/github/gitignore/blob/master/Laravel.gitignore ##

src/vendor/
src/node_modules/
src/npm-debug.log

# Laravel 5 & Lumen specific
src/public/storage
src/public/hot
src/storage/*.key
src/.env.*.php
src/.env.php
src/.env
src/Homestead.yaml
src/Homestead.json

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
src/.rocketeer/

# OS metadata files
.DS_Store

# Project-specific
src/storage/app/patrons/