## gitignore file from https://github.com/github/gitignore/blob/master/Laravel.gitignore ##

src/vendor/
src/node_modules/
src/npm-debug.log

# Laravel 5 & Lumen specific
src/public/storage
src/storage/*.key
src/.env

# OS metadata files
.DS_Store
.Thumbs

# Project-specific
src/storage/app/public/photos/*

# keep empty directories
!.gitignore

# Local development files
*.sublime-workspace
