* text=auto
*.css linguist-vendored
*.scss linguist-vendored
*.js linguist-vendored
CHANGELOG.md export-ignore

# don't export development files
docker/ export-ignore
export/ export-ignore
.gitattributes export-ignore
.gitignore export-ignore
docker-compose.yml export-ignore
*.sublime-project export-ignore
*.sublime-workspace export-ignore
README.md export-ignore
src/public/storage
src/storage/app/public/photos/*
src/storage/logs/*
src/vendor/*
src/.env