/* BOOTSTRAP OVERRIDES */
footer {
	border-top: 1px solid #d3e0e9;
	padding: 1rem;
	background-color: #fff;
}

ul {
    list-style: none;
    padding: 0;
}

h2.panel-title {
	font-size: 30px;
	display: inline-block;
}

td > .glyphicon {
	margin-left: .2em;
}

.panel {
    -webkit-box-shadow: 5px 5px 30px;
    box-shadow: 5px 5px 30px;
}

.panel-body blockquote {
	border-left: 0;
	padding-top: 0;
}

.blockquote-footer {
	border: 0;
}

.panel-default > .panel-heading {
	background-color: gainsboro;
}

.navbar-brand > img {
	display: inline;
	max-height: 100%;
}

.breadcrumb {
	margin: 0 0 8px 0;
}

.badge-error {
  background-color: #a94442;
}

.modal-title {
    display: inline;
}

.modal-header {
    background: gainsboro;
    text-align: center;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

@media (min-width: 768px) {
	.pull-right-sm {
		float: right !important;
	}

	.table-responsive {
		overflow-x: inherit;
	}
}



/* GENERAL LAYOUT */
.content {
	margin-top: 4.5em;
}

.hub-center {
    text-align: center;
}

.hub-float-right {
    float: right;
}

.hub-float-left {
    float: left;
}

.repository-save-button {
	font-size: 2em;
}

.repository-margin-bottom-halfrem {
	margin-bottom: .5rem;
}

.repository-margin-bottom-1rem {
	margin-bottom: 1rem;
}

.repository-margin-top-1rem {
	margin-top: 1rem;
}

.repository-margin-right-1rem {
	margin-right: 1rem;
}

.repository-text-italic {
	font-style: italic;
}

.hub-text-indent-22px {
    text-indent: 22px;
}

.hub-text-indent-1em {
    text-indent: 1em;
}

.repository-text-wrap {
	white-space: normal;
}

.hub-width-100 {
    width: 100%;
}

.homepage-buttons {
	font-size: 225%;
}

.homepage-buttons > .glyphicon > div {
	padding-top: .25em;
	font-family: Raleway, sans-serif;
}

.form-group.required .control-label:after {
	content: "*";
	color: indianred;
	font-size:1.2em;
	font-family: "Courier", sans-serif;
}

.text-left-not-xs, .text-left-not-sm, .text-left-not-md, .text-left-not-lg {
    text-align: left;
}
.text-center-not-xs, .text-center-not-sm, .text-center-not-md, .text-center-not-lg {
    text-align: center;
}
.text-right-not-xs, .text-right-not-sm, .text-right-not-md, .text-right-not-lg {
    text-align: right;
}
.text-justify-not-xs, .text-justify-not-sm, .text-justify-not-md, .text-justify-not-lg {
    text-align: justify;
}

@media (max-width: 767px) {
    .text-left-not-xs, .text-center-not-xs, .text-right-not-xs, .text-justify-not-xs {
        text-align: inherit;
    }
    .text-left-xs {
        text-align: left;
    }
    .text-center-xs {
        text-align: center;
    }
    .text-right-xs {
        text-align: right;
    }
    .text-justify-xs {
        text-align: justify;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .text-left-not-sm, .text-center-not-sm, .text-right-not-sm, .text-justify-not-sm {
        text-align: inherit;
    }
    .text-left-sm {
        text-align: left;
    }
    .text-center-sm {
        text-align: center;
    }
    .text-right-sm {
        text-align: right;
    }
    .text-justify-sm {
        text-align: justify;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .text-left-not-md, .text-center-not-md, .text-right-not-md, .text-justify-not-md {
        text-align: inherit;
    }
    .text-left-md {
        text-align: left;
    }
    .text-center-md {
        text-align: center;
    }
    .text-right-md {
        text-align: right;
    }
    .text-justify-md {
        text-align: justify;
    }
}

@media (min-width: 1200px) {
    .text-left-not-lg, .text-center-not-lg, .text-right-not-lg, .text-justify-not-lg {
        text-align: inherit;
    }
    .text-left-lg {
        text-align: left;
    }
    .text-center-lg {
        text-align: center;
    }
    .text-right-lg {
        text-align: right;
    }
    .text-justify-lg {
        text-align: justify;
    }
}


/* INCIDENTS */
.incident-index-description {
	text-indent: 1em;
}

#incidents .h1 {
	margin-bottom: 22px;
}

#incidents .table > tbody > tr > td {
	vertical-align: middle;
	white-space: normal;
}

#incidents .table > tbody > tr > td > .glyphicon {
	font-size: 1.25em;
}

#incidents .btn-default {
	border: 1px solid #ccc;
}

#incidents .thumbnail {
    margin-bottom: .5em;
}

#incidents .not-viewed {
    border: 1px solid #e8c930;
    border-radius: 4px;
}

#incidents .not-viewed .list-group {
    margin-bottom: 0;
    padding: 5px 0;
}

#incidents .not-viewed .list-group > .list-group-item {
    padding: 5px 7px;
    background-color: inherit;
    border: 0;
}

#incidents .dropdown-menu {
    max-height: 25em !important;
}

#incidents #addedPatrons .remove-patron-btn {
    float: right;
    border-width: 0;
    background-color: inherit;
}

#incidents .associated-patrons-wrapper {
    text-indent: 1em;
}

#incidents .associated-patrons-wrapper > label > .patron-name {
    font-weight: normal;
}

#incidents #incident-photo-thumbnail-wrapper {
    margin-bottom: 1em;
}

#incidents #incident-photo-thumbnail-wrapper button.remove-photo-btn {
    margin: .5em;
}

#incidents .incident-photo {
    text-align: center;
    border-radius: .5em;
    box-shadow: 1px 1px 10px 0 #999;
}

#incidents .patron-list {
    margin:0 22px;
    padding: 0;
}


/* REPORTS */
#reports .report-item {
     padding: 3px 5px;
}

#reports .report-item .bordered {
    border: 1px solid darkgray;
    border-radius: 4px;
    padding: 15px;
}

#reports .report-division-heading {
    font-size:1.45em;
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-color: lightsteelblue;
    text-indent: 1.5em;
    padding: .15em;
    margin-bottom: .2em;
    width: 90%;
}
