/* BOOTSTRAP OVERRIDES */
footer {
	border-top: 1px solid #d3e0e9;
	padding: 1rem;
	background-color: #fff;
}

h2.panel-title {
	font-size: 30px;
	display: inline-block;
}

td > .glyphicon {
	margin-left: .2em;
}

.panel-body blockquote {
	border-left: 0;
	padding-top: 0;
}

.blockquote-footer {
	border: 0;
}

.panel-default > .panel-heading {
	background-color: gainsboro;
}

.thumbnail {
	margin-bottom: .5em;
}

.navbar-brand > img {
	display: inline;
	max-height: 100%;
}

.breadcrumb {
	margin: 0 0 8px 0;
}

@media (min-width: 768px) {
	.pull-right-sm {
		float: right !important;
	}

	.table-responsive {
		overflow-x: inherit;
	}
}



/* GENERAL LAYOUT */
.content {
	margin-top: 4.5em;
}

.repository-save-button {
	font-size: 2em;
}

.repository-margin-bottom-halfrem {
	margin-bottom: .5rem;
}

.repository-margin-bottom-1rem {
	margin-bottom: 1rem;
}

.repository-margin-top-1rem {
	margin-top: 1rem;
}

.repository-margin-right-1rem {
	margin-right: 1rem;
}

.repository-text-italic {
	font-style: italic;
}

.repository-text-wrap {
	white-space: normal;
}

.homepage-buttons {
	font-size: 225%;
}

.homepage-buttons > .glyphicon > div {
	padding-top: .25em;
	font-family: Raleway, sans-serif;
}

.form-group.required .control-label:after {
	content: "*";
	color: indianred;
	font-size:1.2em;
	font-family: "Courier", sans-serif;
}


/* INCIDENTS */
.incident-index-description {
	text-indent: 1em;
}

#incidents .h1 {
	margin-bottom: 22px;
}

#incidents .table > tbody > tr > td {
	white-space: normal;
}

#incidents .btn-default {
	border: 1px solid #ccc;
}



/* COMMENTS */
.comments .list-group-item > p {
	text-indent: 2em;
}