.content {
	margin-top: 4.5em;
}

footer {
	border-top: 1px solid #d3e0e9;
	padding: 1rem;
	background-color: #fff;
}

.repository-save-button {
	font-size: 2em;
}

.repository-margin-bottom-halfrem {
	margin-bottom: .5rem;
}

.repository-margin-bottom-1rem {
	margin-bottom: 1rem;
}

.repository-margin-top-1rem {
	margin-top: 1rem;
}

.repository-text-italic {
	font-style: italic;
}

.homepage-buttons {
	font-size: 225%;
	padding: .5em;
}

.homepage-buttons > .glyphicon > div {
	padding-top: .25em;
	font-family: Raleway, sans-serif;
}


/* NAVIGATION */
.navbar-brand > img {
	display: inline;
	max-height: 100%;
}


/* INCIDENTS */
.incident-index-description {
	text-indent: 1em;
}

.incident-patron-picture {
	max-height: 15em;
}

.panel-body blockquote {
	border-left: 0;
}

.blockquote-footer {
	border: 0;
}

.panel-default > .panel-heading {
	background-color: gainsboro;
}

h2.panel-title {
	font-size: 30px;
	display: inline-block;
}

td > .glyphicon {
	margin-left: .2em;

}


/* COMMENTS */
.comments .list-group-item > p {
	text-indent: 2em;
}