.content {
	margin-top: 4em;
}

.kb-margin-bottom-1rem {
	margin-bottom: 1rem;
}

.kb-margin-top-1rem {
	margin-top: 1rem;
}

.kb-text-italic {
	font-style: italic;
}

/* INCIDENTS */
.incident-index-description {
	text-indent: 1em;
}

.incident-patron-picture {
	max-height: 15em;
}